<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Academy Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h3 class="h3 d-flex justify-content-center">Choose Your Knight!</h3>
<div class="card d-flex text-center" style="width: 18rem; margin: 0 auto 10px;">
    <div class="card-body">
        <form class="form-group"
              th:action="@{/academy/produce}"
              method="post">
            <select class="form-control align-content-center" name="academyName">
                <option disabled value="">Select Academy</option>
                <option th:each="academy: ${academies}"
                        th:value="${academy.getName()}"
                        th:text="${academy.getName()} + ' Academy'">
                </option>
            </select>
            <select class="form-control align-content-center" name="knightType">
                <option disabled value="">Select Knight Type</option>
                <option value="majestic">Majestic Knight</option>
                <option value="metal cluster">Metal Cluster Knight</option>
                <option value="synthetic">Synthetic Knight</option>
            </select>
            <br>
            <button class="btn btn-sm btn-primary" type="submit">Produce Knight</button>
        </form>
    </div>
</div>

<div th:if="${knight == null}">
    <h3 class="h3 d-flex justify-content-center">No Knight Produced</h3>
</div>

<div th:unless="${knight == null}">
    <h3 class="h3 d-flex justify-content-center">Knight Produced!</h3>
    <div class="card d-flex text-center" style="margin: 0 auto 10px;">
        <div class="card-body">
            <p th:text="'Knight Type: ' + ${knight.getName()}"></p>
            <div th:if="${knight.getArmor() != null}">
                <p th:text="${knight.getArmor().getName()} + ': ' + ${knight.getArmor().getDescription()}"></p>
            </div>
            <div th:if="${knight.getWeapon() != null}">
                <p th:text="${knight.getWeapon().getName()} + ': ' + ${knight.getWeapon().getDescription()}"></p>
            </div>
            <div th:if="${knight.getSkill() != null}">
                <p th:text="${knight.getSkill().getName()} + ': ' + ${knight.getSkill().getDescription()}"></p>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>